<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Weather App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>

  <body>
    <div class="container">
      <!-- Flash Messages -->
      <% flash.each do |type, message| %>
        <div class="flash-message <%= flash_class_for(type) %>">
          <span class="flash-message-content"><%= message %></span>
          <span class="flash-close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
